<button class="publish-book">Publish a Book</button>
<% if (books.length === 0) { %>
<h2>You have not written any books.</h2>
<% } else { %>
<h2>Authored Books</h2>
<ul class="books-list">
  <% books.each(function (book) { %>
    <li class="book-item" data-id="<%= book.id %>">
    	Title: <%= book.escape("title") %>, Published: <%= book.escape("published") %>
    </li>
  <% }) %>
</ul>
<nav class="books-paging group">
<% if (page > 1) { %>
	<a href="javascript:void(0)" class="prev-books">&lt;</a>
<% } else { %>
	<span class="prev-books hide-scroll"></span>
<% } %>
<span class="page-mark">
<input class="page" id="books-page" type="text" value="<%= page %>"> /
<%= totalPages %>
</span>
<% if (page < totalPages) { %>
	<a href="javascript:void(0)" class="next-books">&gt;</a>
<% } else { %>
	<span class="next-books hide-scroll"></span>
<% } %>
</nav>
<% } %>


