<% if (book.isNew()) { %>
	<h1 class="tab">Publish a book</h1>
<% } else { %>
	<h1 class="tab">Edit <%= book.escape("title") %></h1>
<% } %> 
	<label class="group"><strong class="form-label">Title</strong>
		<input type="text" 
			   class="form-text" 
			   name="book[title]" 
			   value="<%= book.escape("title") %>">
	</label>
	<label class="group"><strong class="form-label">Genre</strong>
		<input type="text" 
			   class="form-text" 
			   name="book[genre]" 
			   value="<%= book.escape("genre") %>">
	</label>
	<label class="group"><strong class="form-label">Synopsis</form>
		<textarea class="form-text" name="book[synopsis]"><%= book.escape("synopsis") %></textarea>
	</label>
	<label class="group"><strong class="form-label">Cover Image (*.jpeg, *.png, *.gif)</strong>
		<input class="form-text" type="file" name="book[cover]" id="input-cover-image" accept="image/*">
	  	<img src="<%= book.escape("image_url") %>" id="preview-cover-image" width="50">
	</label>
	<label class="group"><strong class="form-label">Book Content (*.pdf)</strong>
		<input class="form-text" type="file" name="book[content]" id="input-content-pdf" accept="application/pdf">
	</label> 
<% if (book.isNew()) { %>
	<button class="publish-button">Publish</button>
<% } else { %>
	<button class="edit-button">Make Edit</button>
<% } %>