<h1>Title: <%= book.escape("title") %></h1>
<h3 class="author-email">Author Name: <button id="show-mini-profile" data-id="<%= author.id %>">
<%- author.fname + " " + author.lname %></button></h3><div class="mini-profile"></div>
<article class="book-synopsis">
	<h3>Synopsis</h3><p><%= book.escape("synopsis") %></p>
	<img src="<%= book.escape("image_url") %>" width="150">
		<% if (book.get("pdf_thumb") != "/") { %>
			<a href="<%= book.escape("content_url") %>">
				<img src="<%= book.escape("pdf_thumb") %>">
			</a>
		<% } else { %>
			<p>No pdf file uploaded</p>
		<% } %>
</article>
<ul class="search-results"><h3>Comments</h3>
	<% if (comments.length > 0) { %>
		<% comments.each(function (comment) { %>
			<li>
				<p><%= comment.escape("body") %></p>
				<p>Comment by: <%= comment.commenter().escape("fname") || "Anonymous" %></p>
			</li>
		<% }); %>
	<% } else { %>
		<p>There are no comments</p>
	<% } %>
</ul>
<form class="book-form" id="comment">
	<textarea class="form-text"></textarea>
	<button class="form-button">Comment</button>
</form>
<% if (fromAuth){ %>
<section class="buttons group">
<span class="like-stat">Likes: <%= likesCount %></span>
<button class="delete-book form-button" data-id="<%= book.id %>">Delete Book</button>
<button class="edit-book form-button" data-id="<%= book.id %>">Edit Book</button>
</section>
<% } else { %>
<section class="buttons group">
<span class="like-stat">Likes: <%= likesCount %></span>
	<% if (isLiked) { %>
		<button class="form-button" id="unlike">Unlike</button>
	<% } else { %>
		<button class="form-button" id="like">Like</button>
	<% } %>
</section>
<% } %>