<section class="login-form">
<h1>User Sign in</h1>

<form class="login" action="<%= session_url %>" method="POST">
  <%= csrf_token %>
  <label>Email
    <input type="text" id="guest-email" name="user[email]">
  </label>
  <br>
  <label>Password
    <input id="guest-pass" type="password" name="user[password]">
  </label>
  <button class="form-button">Sign in!</button>
  <button id="guest-login" class="form-button">Guest Login</button>
  <button class="fb-btn">
    <img src="<%= image_url("facebook.png") %>"><b class="fb-banner">Login with Facebook</b>
  </button>
</form>
</section>
<section class="login-form">
<h1>Enwritt</h1>
<p>Enwritt is an open publishing platform inspired by Scribd. All books are visible and searchable by anyone. However, to download PDFs of books, you must be logged in. If you do not have an account, click "Sign up" on the top right corner.</p>

<p>Logged in users can: 
  <br>
  1. Author books.
  <br>
  2. Create collections to organize books.
  <br>
  3. Download PDFs of books.
</p>
</section>
<script>
  $("#guest-login").on("click", function(event) {
    event.preventDefault();
    $("#guest-email").attr("value","guest@princeton.edu");
    $("#guest-pass").attr("value","password");
    $(".form-button").trigger("click");
  });

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= ENV["facebook_app_id"] %>',
      xfbml      : true,
      status     : true,
      version    : 'v2.2',
      cookie     : true
    });
  }

  $(".fb-btn").on("click", function (event) {
    event.preventDefault();
    if (FB.getAuthResponse()){
      $.getJSON('/auth/facebook/callback', function(json) {

      });
      window.setTimeout(redirect, 2000);
    } else {
      FB.login(function (response) {
        if (response.authResponse) {
          $.getJSON('/auth/facebook/callback', function(json) {
          });
          window.setTimeout(redirect, 2000);
        }
      }, {scope: "email"});
    }
  });
  
  function redirect () {
    window.location.replace("<%= root_url %>")
  }

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  
</script>