<h1>Title: <%= @book.title %><h1>
<h3 class="author-email">Author Email: <%= @book.author.email %></h3>
<article>
	<h3>Synopsis</h3><p><%= @book.synopsis %></p>
	<img src="<%= asset_path(@book.cover.url(:original)) %>" width="500">
		<% if asset_path(@book.content.url(:original)) != "/" %>
			<a href="<%= asset_path(@book.content.url(:original)) %>">
				<img src="<%= asset_path(@book.content.url(:thumbnail)) %>">
			</a>
		<% else %>
			<p>No pdf file uploaded</p>
		<% end %>
</article>
<% if logged_in? %>
	<% if @book.author.id == current_user.id %>
		<h3>You are the author of this book</h3>
	<% else %>
		<form action="<%= collects_url %>" method="POST">
			<%= csrf_token %>
			<input type="hidden" name="collect[book_id]" value="<%= @book.id %>">
			<strong class="form-label">Add to: </strong>
			<select name="collect[collection_id]">
				<% @collections.each do |collection| %>
					<option class="form-text" value="<%= collection.id %>"><%= collection.name %></option>
				<% end %>
			</select>
			<% if @collections.length > 0 %>
				<button class="select">Add to Collection</button>	
			<% else %>
				<p>All of your collections have this book... or maybe you have not created any collections.</p>
			<% end %>
		</form>
	<% end %>
<% end %>

<h2>Comments on this Book</h2>
<ul class="search-results">
	<% @book.comments.each do |comment| %>
		<li>
			<p>Commenter: <%= comment.commenter.fname || "Anonymous" %></p>
			<p>Body: 
				<br>
				<%= comment.body %>
			</p>
		</li>
	<% end %>
</ul>

<% if logged_in? %>
	<form action="<%= comment_book_url(@book) %>" method="POST">
		<%= csrf_token %>
		<label>Leave a comment
			<textarea name="comment[body]"></textarea>
		</label>
		<button>Post Comment</button>		
	</form>
<% end %>