<header class="group">
  <span id="magnifying-glass"></span>
  <form class="query-form group" method="GET" action="<%= search_url %>">
  <input type="text" name="query" class="search-box">
  <select name="search_by" id="search-option">Search By
    <option value="book" selected>Book</option>
    <option value="author">Author</option>
  </select>
  <button class="search-button">Search</button>
  </form>
  <a href="<%= root_url %>" class="logo">Enwritt</a>
  <% if logged_in? %>
    <h3 class="welcome-message"> Welcome <%= current_user.email %> </h3>
    <form class="auth" method="POST" action="<%= session_url %>">
      <%= csrf_token %>
      <input type="hidden" name="_method" value="delete">
      <button class="sign-out">Sign out</button>
    </form>
  <% else %>
    <a href="<%= new_session_url %>" class="auth">Sign in</a>
    <a href="<%= new_user_url %>" class="auth">Sign up</a>
  <% end %>
</header>

<script>
</script>

<script>
  $("#guest-login").on("click", function(event) {
    event.preventDefault();
    $("#guest-email").attr("value","guest");
    $("#guest-pass").attr("value","password");
  });

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= ENV["facebook_app_id"] %>',
      xfbml      : true,
      status     : true,
      version    : 'v2.2',
      cookie     : true
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  
  $(".fb-btn").on("click", function (event) {
    event.preventDefault();

    FB.login(function (response) {
      if (response.authResponse) {
        $.getJSON('/auth/facebook/callback', function(json) {
          window.location.replace("<%= root_url %>");
        });
      }
    }, {scope: "email"});

  });

  $(".sign-out").on("click", function (event) {
      if (FB.getAuthResponse()) {
        FB.logout(function () {
          window.location.replace("<%= new_session_url %>");
        });
      }
    });
</script>