<header class="group">
  <span id="magnifying-glass"></span>
  <form class="query-form group" method="GET" action="<%= search_url %>">
  <input type="text" name="query" class="search-box">
  <select name="search_by" id="search-option">Search By
    <option value="book" selected>Book</option>
    <option value="author">Author</option>
  </select>
  <button class="search-button">Search</button>
  </form>
  <a href="<%= root_url %>" class="logo">Enwritt</a>
  <% if logged_in? %>
    <h3 class="welcome-message"> Welcome <%= current_user.email %> </h3>
    <form class="auth" method="POST" action="<%= session_url %>">
      <%= csrf_token %>
      <input type="hidden" name="_method" value="delete">
      <button class="sign-out">Sign out</button>
    </form>
  <% else %>
    <a href="<%= new_session_url %>" class="auth">Sign in</a>
    <a href="<%= new_user_url %>" class="auth">Sign up</a>
    <div
      class="fb-like auth"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div>
    <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
  <% end %>
</header>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= ENV["facebook_app_id"] %>',
      xfbml      : true,
      version    : 'v2.2',
      cookie     : true
    });
    FB.getLoginStatus(function(response) {
      if (response.status === "connected") {
        $.getJSON('/auth/facebook/callback', function(){});
      }
    });

    $(".sign-out").on("click", function (event) {
      FB.logout();
    });
  };


  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  
</script>