<!DOCTYPE html>
<html>
<head>
  <title>Enwritt</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    if (response.status === "connected") {
      testAPI();
    } else if (response.status === 'not_authorized') {
      $('#status').html('Please log into this app.');
    } else {
      $('#status').html('Please log into Facebook.');
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= ENV["facebook_app_id"]',
      xfbml      : true,
      version    : 'v2.2',
      cookie     : true
    });
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      $('#status').html('Thanks for logging in, ' + response.name + '!');
    });
  }
</script>

<%= render "layouts/header" %>
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% if flash.now[:errors] %>
  <% flash.now[:errors].each do |error| %>
    <p class="error"><%= error %></p>
  <% end %>
<% end %>
<div id="status">
</div>
<%= yield %>

<script>
	var revealed = false;
	$("#magnifying-glass").on("click", function () {
		if (revealed) {
			$(".query-form").removeClass("revealed")
			revealed = false;
		} else {
			$(".query-form").addClass("revealed");
			revealed = true;
		}
	});
</script>
</body>
</html>
